<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AxziplinNet iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AxziplinNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC1885241EA7458C00343356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC18852D1EA7458C00343356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1885481EA7475900343356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1885571EA747ED00343356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1885781EA765C800343356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC9CAA0C1EA7A17F002D5F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD9B5E41EA7847500DDB021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
